@page "/balance"
@using MobileWallet.Maui.Data;
@using MobileWallet.Maui.Services;
@using Microsoft.Maui.Controls;

<h3>Balance</h3>

<div class="container-fluid">
    <h2>
        Your Balance: @Settings.UserBasicDetail.Balance
    </h2>
</div>

@code {
    
}
